h1,
h2 {
  text-align: center;
}

.restaurant-list {
  background-color: aquamarine;
  overflow: auto;
}

.menu {
  background-color: pink;
  overflow: auto;
}

.cart {
  background-color: palegoldenrod;
  overflow: auto;
}

.landing {
  display: grid;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .landing {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .landing {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .restaurant-list {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media screen and (min-width: 768px) {
  .landing {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .restaurant-list {
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}